/* header {
  height:180vh;
  min-height:400px;
  background-size:cover;
  background-image:url('https://images.unsplash.com/photo-1470434151738-dc5f4474c239?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb');
} */

.hidden-spacer {
  height: 56px
}
.nav-item {
  margin: 0 10px;
}

.navbar {
  background-color:#E5E5E5 ;
  
}

.navbar-nav .nav-link {
  color:   #333333; 
}

.ml-auto .btn-secondary {
  background-color: #333333; /* Dark Gray */
  color: #333333; /* Orange text */
  border: #FFA500 ; /* Optionally, remove the border */
}


























/* 
.navbar {
    background-color: #1B1919; 
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
  }
  
  .nav-item{
    color: #886f60;
  }
  .btn {
    border-radius: 30px;
   background-color:#182F38 ;
     color: aliceblue;
  }
   */