
.hidden-spacer {
  height: 56px
}
.nav-item {
  margin: 0 10px;
}

.navbar {
background-image: linear-gradient(to right top, #b6d9e5, #add6e9, #a7d2ed, #a2cef1, #a1c9f4, #a6c6f6, #aec3f8, #b6bff8, #c3bdf7, #d0bcf4, #dcbaf1, #e7b9ec);
}



