src/components/Navigation.css

.navbar {
    background-color: #333; /* Set your desired background color */
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
  }
  
  .nav-item{
    color: #886f60;
  }
  