.bold-text {
  padding-top: 10px;
  font-weight: bold;
  /* font-family: Arial, Helvetica, sans-serif; */
}


.intro-background {
  height: 100vh;
  background-image:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTpEI35EvncqB2raBgvebxyX6t5ragiK2vsXenXKocyYB4C4gAk');
  background-size: cover; /* Adjust the size as needed */
  background-position: center; /* Adjust the position as needed */
  background-repeat: no-repeat;
  padding-top: 10px; /* Add padding to create space between the navbar and the background image */
}


/* Home.css */
.circular-background {

  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 600px; /* Adjust the width and height as needed */
  height: 400px; /* Adjust the width and height as needed */
  background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRqzpghLzzjKwtydmQDrvoS1VT0lLoea1_KNKwNrkAFXZ6F63-e'); /* Background color of the circle */
  opacity: 0.7; /* Adjust the opacity to control the darkness of the circle */
  margin-right: 20px; /* Spacing between the circle and the text (adjust as needed) */
  color: #FFF; /* Text color */
  padding: 80px; /* Adjust the padding for text placement */
  text-align: center;
}

.img-fluid{
  margin-right: 900px;
}

.bold-text {
  font-weight: bold;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-number {
  color: rgb(123, 140, 134);
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  left: 10px; 
  top: 10px; 
  letter-spacing: -1px;
}

/* Ensure text content is left-aligned */
.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #fff;
  line-height: 1.7;
  display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.mb-4 {
  margin-bottom: 20px; /* Adjust the margin as needed to control the space */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.card-content{
  color: #FFF;
  text-align: right;
  padding: 10px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBH720KwTKsxIAMhiVBBiAwj675SkQGX8sqw&usqp=CAU');
}

.bg-light 
{
  background-image: url('https://e0.pxfuel.com/wallpapers/766/75/desktop-wallpaper-space-colors-blue-purple-stars.jpg');
}

.text-center{
  color: rgb(123, 140, 134);
}
.lead {
  color: rgb(123, 140, 134);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.projectstyle{
width: 18rem;
}