.bold-text {
  padding-top: 10px;
  font-weight: bold;
}


.intro-background {

  height: 100vh;
  background-image: url('https://codewithmel.com/images/site/desk.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10px;
}
.card {
  margin: 10px; /* Adjust the margin value as needed */
}
.circular-background {
  background-color: gray;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 600px;
  height: 400px;
  opacity: 0.7;
  color: #FFF;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.above-text {
  margin-bottom: 20px; 
}

.underline-text {
  text-decoration: underline; 
  color: black; 
}

.bold-text {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.card-number {
  color: black(135, 135, 135);
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 10px;
  letter-spacing: -1px;
}

/* Change the color of the "Next" arrow */
.slick-next {
  color: blue; /* Change to your desired color */
}

/* Change the color of the "Previous" arrow */
.slick-prev {
  color: red; /* Change to your desired color */
}

.slick-prev:hover{
  color: red !important;
}


.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #fff;
  line-height: 1.7;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.mb-4 {
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-content {
  color: #FFF;
  text-align: right;
  padding: 10px;
}







.bg-services {
  background-image: linear-gradient(90deg,white,gray);
}



.text-center {
  color: rgb(255, 255, 255);
}

.lead {
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.projectstyle {
  width: 18rem;
}

.content-number {
  font-weight: bold;
    font-size: 60px;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  

}

p.heading.p__color {
  margin-bottom: 0;
  text-align: center;
  line-height: 1.2;
}

.s__box {
  border-radius: 10px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 55px;
  transition: .4s ease;
}

.s__box:hover {
  transform: translateY(5px);
  
  background-image: linear-gradient(90deg, gray, white);
}

.s__box:hover .content-number{
  color: #5c5252;
}

.s_box:hover p.stext .p_color {
  color: #000000 !important;
}

p.s_text.p_color {
  margin-bottom: 0;
  color: rgb(0, 0, 0);
}

h1.s__text {
  font-weight: bold;
  font-size: 19px;
  font-family: Poppins, sans-serif;
  padding: 10px 0px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}


.p__box {
  border-radius: 10px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 55px;
  transition: .4s ease;
}

.p__box:hover {
  transform: translateY(5px);
  background-image: linear-gradient(90deg, gray, white);
}

.p__box:hover .content-number{
  color: #5c5252;
}

.p_box:hover p.stext .p_color {
  color: #000000 !important;
}

p.p_text.p_color {
  margin-bottom: 0;
  color: rgb(0, 0, 0);
}

h1.p__text {
  font-weight: bold;
  font-size: 19px;
  font-family: Poppins, sans-serif;
  padding: 10px 0px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}



.bg-projects {
  background-image: linear-gradient(90deg,gray,white);
}
.bold-txt {
 color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p_stat {
  color: rgb(255, 255, 255);

}


.bg-testimonial{
  background-image: linear-gradient(90deg,white,gray);
}
.bold-t {
  color: rgb(255, 255, 255);
   font-weight: bold;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }


 .card-name{
  color: #000000;
 }
 .card-desc{
  color: #000000;
 }

 .card-t{
  text-align: center;
 }

 .bg-socialfeeds{
  background-image: linear-gradient(90deg,white,gray);
}





 /* socialfeeds */

 .text-left{
  color: rgb(255, 255, 255);
 }

 .card-title{
  color: #000000;
 }
 .card {
  margin-right: 15px; 
  margin-bottom: 15px; 
}


.card-n{
  color: #000000;
 }
 .card-d{
  color: #000000;
 }

 .l{
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}