.bold-text {
  padding-top: 10px;
  font-weight: bold;
  margin-left: 20px;
}

.intro-background {
  height: 100vh;
  /* background-image: linear-gradient(to right top, #d16ba5, #ca7cbd, #c18ed2, #b69ee1, #adaeed, #a4b9f5, #9cc3fb, #96cdfe, #8cd6ff, #86deff, #84e6fc, #88edf7); */
  background-image: url("https://voltix1.s3.amazonaws.com/homepage_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10px;
  margin-top: 68px;
  /* Adjust this value as needed */
}


.card {
  margin: 10px;
  /* Adjust the margin value as needed */
}

.dis {
  margin-left: 20px;
}

.circular-background {
  background-image: linear-gradient(to right top, #75bfd9, #7bbce4, #89b8eb, #9eb3ee, #b6acec, #bfa7e6, #c7a2de, #ce9dd6, #c89acf, #c397c8, #bd94c2, #b791bb);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 600px;
  height: 400px;
  opacity: 0.7;
  color: #FFF;
  text-align: end;
  left: 59%;
  /* Adjust this value to move it to the left */
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ededed;


}

.left-image {
  position: absolute;
  left: 0;
  top: 124px;
  /* width: 200px; Adjust this value for the desired width */
  height: 650px;
  /* Adjust this value for the desired height */
}

.above-text {
  margin-bottom: 20px;
}

.underline-text {
  text-decoration: underline;
  color: black;
}

.bold-text {
/* margin-left: 100px; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.card-number {
  color: black(135, 135, 135);
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 10px;
  letter-spacing: -1px;
}

/* Change the color of the "Next" arrow */
.slick-next {
  color: blue;
  /* Change to your desired color */
}

/* Change the color of the "Previous" arrow */
.slick-prev {
  color: red;
  /* Change to your desired color */
}

.slick-prev:hover {
  color: red !important;
}


.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #fff;
  line-height: 1.7;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.mb-4 {
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-content {
  color: #FFF;
  text-align: right;
  padding: 10px;
}







.bg-services {
background-color: white;
  /* background-image: linear-gradient(to right top, #5dc5eb, #58bbf5, #69affa, #879ff9, #a88dee, #a38ded, #9e8eec, #998eeb, #719fed, #58aae4, #5bb2d4, #72b7c4); */
  /* background-image: linear-gradient(90deg, white, gray); */
}



.text-center {
  color: black;
}

.lead {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.projectstyle {
  width: 18rem;
}

.content-number {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;


}

p.heading.p__color {
  margin-bottom: 0;
  text-align: center;
  line-height: 1.2;
}

.s__box {
  border-radius: 10px;
  width: 100%;
  background-color: #233e68;
  padding: 55px;
  transition: .4s ease;
}

.s__box:hover {
  transform: translateY(5px);
  background-image: linear-gradient(to right top, #8c82d4, #977cd1, #a276cc, #ad6fc6, #b768bf, #af70c8, #a777d1, #9e7ed8, #7b92e6, #5aa2e9, #48afe3, #50bad9);
}

.s__box:hover .content-number {
  color: #5c5252;
}

.s_box:hover p.stext .p_color {
  color: #000000 !important;
}

p.s_text.p_color {
  margin-bottom: 0;
  color: white;
}

h1.s__text {
  font-weight: bold;
  font-size: 19px;
  font-family: Poppins, sans-serif;
  padding: 10px 0px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.t_box {
  background-color: #233e68;
}

.p__box {
  border-radius: 10px;
  width: 100%;
  background-color: #233e68;
  padding: 55px;
  transition: .4s ease;
}

.p__box:hover {
  transform: translateY(5px);
  background-image: linear-gradient(to right top, #5abfd2, #4db8e1, #5aafec, #79a3ef, #9f93e8, #a392e6, #a790e4, #ab8fe2, #919dea, #7ba8ea, #6db1e5, #6cb8dd);
}

.p__box:hover .content-number {
  color: #5c5252;
}

.p_box:hover p.stext .p_color {
  color: #000000 !important;
}

p.p_text.p_color {
  margin-bottom: 0;
  color: white;
}

h1.p__text {
  font-weight: bold;
  font-size: 19px;
  font-family: Poppins, sans-serif;
  padding: 10px 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}



.bg-projects {
  background-color: rgb(240, 238, 238);
  /* background-image: linear-gradient(to right top, #8c82d4, #977cd1, #a276cc, #ad6fc6, #b768bf, #af70c8, #a777d1, #9e7ed8, #7b92e6, #5aa2e9, #48afe3, #50bad9); */
  /* background-image: linear-gradient(to right top, #6453da, #7b4bce, #8c43c1, #993cb3, #a235a6, #9843ae, #8d4eb4, #8258b9, #5a6dc6, #2b7dc8, #008ac1, #1c93b5); */
}

.bold-txt {
  color: black;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p_stat {
  color: black;

}


.bg-testimonial {
  background-color: white;
  /* background-image: linear-gradient(to right top, #5abfd2, #4db8e1, #5aafec, #79a3ef, #9f93e8, #a392e6, #a790e4, #ab8fe2, #919dea, #7ba8ea, #6db1e5, #6cb8dd); */
}


.bold-t {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.card-name {
  color: white;
}

.card-desc {
  color: white;
}

.card-t {
  text-align: center;
}

.bg-socialfeeds {
  background-color: rgb(240, 238, 238);
}

.tst {
  background-color: #4682DF;

}




/* socialfeeds */

/* .bg-socialfeeds {
  background-color: rgb(240, 238, 238);
  /* background-image: linear-gradient(to right top, #5abfd2, #4db8e1, #5aafec, #79a3ef, #9f93e8, #a392e6, #a790e4, #ab8fe2, #919dea, #7ba8ea, #6db1e5, #6cb8dd); */
/* } */

.text-left {
  color: black;
}

.card-title {
  color: white;
}

.card {
  margin-right: 15px;
  margin-bottom: 15px;
}


.card-n {
  color: white;
}

.card-d {
  color: white;
}

.l {
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}









.tag {
  /* margin-left: 210px; */
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(45deg, #FFD700, #87CEEB);
  /* background-image: linear-gradient(to right top, #75bfd9, #7bbce4, #89b8eb, #9eb3ee, #b6acec, #bfa7e6, #c7a2de, #ce9dd6, #c89acf, #c397c8, #bd94c2, #b791bb);; */
  /* background: linear-gradient(90.21deg, rgb(166, 166, 166), rgb(229, 226, 226),rgb(189, 187, 187)); */
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 30px;
  margin-bottom: 14px;
  margin-top: 24px;
  display: inline-block;
}

.feel {

  margin-right: 160px;
  /* text-align: center; */
  background-image: linear-gradient(to right top, #95d0e5, #9eccea, #aac8eb, #b7c3e9, #c5bee4, #c3bde3, #c1bde2, #bfbce1, #afc0e3, #a1c3e0, #96c5d9, #92c6d0);
}