/* projects.css */
h1.custom-heading {
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    margin-bottom: 5px;
    margin-top: 70px;
    color: #333;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project__box {
    border-radius: 10px;
    width: 80%;
    background-color: #191919;
    padding: 30px; 
    transition: .4s ease;
}

.project__box:hover {
    transform: translateY(5px);
    background-image: linear-gradient(90deg, #f61b10, #ef0963);
}

.project__box:hover .icon {
    color: #fff;
}

.project__box:hover .project_text {
    color: #fff !important;
}

.icon {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9004d;
}

.project_text {
    margin-bottom: 0;
    color: white;
}

h1.project__text {
    font-size: 19px;
    font-family: Poppins, sans-serif;
    padding: 10px 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-4 {
    max-width: 33.33333%;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 25%;
    height: 35%;
}

.icon-link {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.icon-link:hover {
    background-color: #333;
    color: #fff;
}

.arrow-icon {
    margin-left: 5px;
    font-size: 1.2rem;
}

@media (max-width: 400px) {
    .p__box {
        border-radius: 10px;
        width: 100%;
        padding: 55px;
        margin: 20px;
        background-color: #233e68;
        transition: 0.4s ease;
      }
      .col {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .hi-container {
        background-image: linear-gradient(to right top, #75bfd9, #7bbce4, #89b8eb, #9eb3ee, #b6acec, #bfa7e6, #c7a2de, #ce9dd6, #c89acf, #c397c8, #bd94c2, #b791bb);
        width: 100%;
        container: fluid;
        min-height: 20px;
        max-height: auto;
        padding-top: 50px;
      }
    
    
      h2.heading {
        font-size: 30px;
        margin-bottom: 20px;
        font-family: Poppins, sans-serif;
        text-align: center;
      }
    
      h6.head {
        font-size: 20px;
        font-family: Poppins, sans-serif;
        text-align: justify;
      }
}

@media (min-width: 400px) and (max-width: 992px) {
    .p__box {
        border-radius: 10px;
        width: calc(100%);
        padding: 55px;
        margin: 20px;
        background-color: #233e68;
        transition: .4s ease;
      }
    
      .col {
        width: calc(100% / 3 - 2%);
        display: flex;
        flex-direction: row;
      }
    
      .hi-container {
        background-image: linear-gradient(to right top, #75bfd9, #7bbce4, #89b8eb, #9eb3ee, #b6acec, #bfa7e6, #c7a2de, #ce9dd6, #c89acf, #c397c8, #bd94c2, #b791bb);
        width: 100%;
        container: fluid;
        min-height: 20px;
        max-height: auto;
        padding-top: 50px;
      }
}

@media (min-width: 992px) {
    .p__box {
        border-radius: 10px;
        width: calc(100%);
        padding: 55px;
        margin: 20px;
        background-color: #233e68;
        transition: .4s ease;
      }
    
      .col {
        width: calc(100% / 6 -2%);
        display: flex;
        flex-direction: row;
      } 
}

.hi-container {
    background-image: linear-gradient(to right top, #75bfd9, #7bbce4, #89b8eb, #9eb3ee, #b6acec, #bfa7e6, #c7a2de, #ce9dd6, #c89acf, #c397c8, #bd94c2, #b791bb);
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  
  h2.h-heading {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
    text-align: left;
  }
  
  h6.h-head {
    font-size: 24px;
    font-family: Poppins, sans-serif;
  }

  .b-container {
    background-color: rgb(240, 238, 238);
  }

@media (max-width: 768px) {
  .primg {
    margin-top: 120px;
    max-width: 100%;
  }
}
