
/* projectDetails.css */

.whole {
    background-color: gray;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.side-heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.project-details-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-title {
  font-size: 45px;
  margin-top: 80px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 20px;
}

.project-description {
  padding-top: 90px;
  font-size: 19px;
  margin: 20px 0;
}

.project-details-list {
  list-style-type: none;
  padding: 0;
}

.project-details-list li {
  font-size: 16px;
  margin: 8px 0;
}

.project-link {
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: #0074d9;
  margin-top: 20px;
}
.descriptionbox{
  display: flex;
}

