
/* projectDetails.css */
.mobile{
  background-image: linear-gradient(to right top, #5abfd2, #4db8e1, #5aafec, #79a3ef, #9f93e8, #a392e6, #a790e4, #ab8fe2, #919dea, #7ba8ea, #6db1e5, #6cb8dd);
}
.whole {
    background-color: gray;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.side-heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.pr-details-container {
  background-color: white;
  padding: 20px;
  height: 100vh;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-bottom: 0px;
}

.pr-title {
color: black;
  font-size: 45px;
  margin-top: 80px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 20px;
}

.pr-description {
  padding-top: 90px;
  font-size: 19px;
  margin: 20px 0;
}

.pr-details-list {
  list-style-type: none;
  padding: 0;
}

.pr-details-list li {
  font-size: 16px;
  margin: 8px 0;
}

.pr-link {
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: #0074d9;
  margin-top: 20px;
}
.descriptionbox{
  display: flex;
}

.project-t{
  justify-content: center;
}


