h1.heading {
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    margin-bottom: 10px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


p.heading.p__color {
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
}

.service__box {
    border-radius: 10px;
    width: 100%;
    background-color:  rgb(255, 255, 255);
    padding: 55px;
    transition: .4s ease;
}
.full{
    background-image: linear-gradient(90deg,gray, rgb(229, 226, 226),gray);
}
.service__box:hover {
    transform: translateY(5px);
    background-image: linear-gradient(90deg,white,gray);
}

.service__box:hover .icon {
    color: #fff;
}

.service_box:hover p.servicetext .p_color {
    color: #fff !important;
}

.icon {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

p.service_text.p_color {
    margin-bottom: 0;
    color: rgb(0, 0, 0);
}

h1.service__text {
    font-size: 19px;
    font-family: Poppins, sans-serif;
    padding: 10px 0px;
    color: rgb(4, 4, 4);
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width:1024px) {
    .service__box {
        padding: 32px;
    }
}


.col-4 {
    max-width: 33.33333%;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 25%;
    height: 35%;
}

.icon-link {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.icon-link:hover {
    background-color: #333;
    color: #fff;
}

.arrow-icon {
    margin-left: 5px;
    font-size: 1.2rem;
}

.g-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    min-width: 100%;
    grid-gap: 10px;
    max-height: 100%; 
    padding: 20px; 
    background-image: linear-gradient(90deg,white, gray);
    border: none;
}
.title {
    color: #0e0c0c;
    padding-left: 90px;
    font-size: 50px;
    border-radius: 4px;
    text-align: left;
    margin-top: 70px;
}

.tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(84, 13, 55, 0.5) -5.91%, rgba(63, 48, 130, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 30px;
    margin-bottom: 16px;
    display: inline-block;
  }