.body {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
}

.g-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    min-width: 100%;
    max-height: 100%;
    padding: 20px;
    background-image: linear-gradient(to right top, #75bfd9, #7bbce4, #89b8eb, #9eb3ee, #b6acec, #bfa7e6, #c7a2de, #ce9dd6, #c89acf, #c397c8, #bd94c2, #b791bb);
    border: none;
    margin-top: 60px;
}

.mobile {
    background-image: linear-gradient(to right top, #95d0e5, #9eccea, #aac8eb, #b7c3e9, #c5bee4, #c3bde3, #c1bde2, #bfbce1, #afc0e3, #a1c3e0, #96c5d9, #92c6d0);
}

@media (max-width: 768px) {
    .flt {
        width: auto;
        transform: translateX(-8%);
    }
}

.title {
    color: #0e0c0c;
    font-size: 50px;
    border-radius: 4px;
    text-align: left;
    margin-top: 60px;
    padding-left: 300px;
    padding-right: 300px;
}
.titl {
    color: #0e0c0c;
    font-size: 50px;
    border-radius: 4px;
    text-align: justify;
    margin-top: 60px;
    padding-left: 300px;
    padding-right: 300px;
}

.center-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 100px;
}

.center-container img {
    max-width: 100%;
    max-height: 75%;
}

.taglineD {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 15px;
    margin-bottom: 16px;
    display: inline-block;
}

#c-container {
    display: flex;
    flex-wrap: wrap;
}

#im-container {
    margin-top: 60px;
    margin-left: 150px;
    height: 390px;
}

.h-container {
    background-image: linear-gradient(to right top, #75bfd9, #7bbce4, #89b8eb, #9eb3ee, #b6acec, #bfa7e6, #c7a2de, #ce9dd6, #c89acf, #c397c8, #bd94c2, #b791bb);
    font-display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sdh{
    font-size: 45px;
}

@media (max-width: 600px) {
    #c-container {
        display: flex;
        flex-wrap: wrap;
    }
    #im-container {
        display: flex;
        margin-left: 0;
        align-items: center;
    }
    .sdh{
        font-size: 35px;
    }
    .center-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 50vh;
        margin-bottom: 0;
        margin-top: 0;
    }

    .center-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .titl {
        color: #0e0c0c;
        padding: 20px;
        font-size: 50px;
        border-radius: 4px;
        text-align: left;
        padding-top: 0%;
    }

    .img {
        display: none;
    }

}

.custom-image {
    max-width: 50%;
    height: auto;
    max-height: 450px; /* Set your desired max height */
    display: block;
    margin: 0 auto;
  }
  

  @media (max-width: 768px) {
    .custom-image {
      max-height: 250px;
    }
  }
  